.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  font: 40px Roboto, sans-serif;
  font-weight: 500;
  line-height: 46px;
  text-align: center;
  margin-top: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.homes-guests {
  background-color: #EAF0F9;
}

.homes-guests-container {
  padding: 120px 25px 120px;
  width: 1260px;
  margin: auto;
}

.home-guests-gallery, .best-destinations-gallery, .gallery {
  display: flex;
  align-items: flex-start;
  overflow: hidden;
  position: relative;
}

.box {
  margin-right: 15px;
}

.photo {
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: center;
}

.home-text {
  font: 24px Roboto, sans-serif;
  font-weight: 400;
  line-height: 28px;
}

.home-hotel-name {
  color: #3077C6;
}

.home-destination {
  color: #BFBFBF;
}

.switcher {
  height: 40px;
  display: flex;
  justify-content: space-between;
  position: absolute;
}

.home-switcher-left {
  width: 40px;
  left: -16px;
  top: 29%;
  transform: rotate(
          180deg
  );
}

.home-switcher-right {
  width: 2400px;
  left: 40px;
  top: 31%;
}
